@import './variable.styl'
@import './mixins.styl'
$base=10/16*1rem
*
*:before
*:after
  margin 0
  padding 0
for i in 1..10
  .w{i*10}
    width i*$base
  .w{i*100}
    width i*10*$base
  .mt{i*10}
    margin-top:i*$base
  .ml{i*10}
    margin-left:i*$base
  .mr{i*10}
    margin-right:i*$base
  .mb{i*10}
    margin-bottom:i*$base

#app
    position-absolute()
.theme 
  padding 3em
.flex-box 
  box-sizing border-box
  display flex
  flex-direction row
  justify-content flex-start
  .flex-box-item
    flex 1
  .flex-item 
    padding 1em
    flex 1
    border-radius 0.2em
    box-shadow 0 0 .2em lighten($accentColor,10%)
    cursor pointer
    transition all 0.3 ease-in-out
    color $accentColor
    &:not(:first-child)
      margin-left 1em
    &:hover
      box-shadow 0 0 .5em darken($accentColor,10%)
.tc
  text-align center

.c-theme
  color $accentColor
.vm
  v-pos()
.vt
  v-pos(top)
.clearfix
  clearfix()
.overflow
  text-overflow()
.aquare
  border-radius .3em !important

.box
  margin-bottom 2rem
  padding 1rem
  box-shadow 0 0 .2rem $borderColor
  &-title
    font-size 1.5rem
    margin-bottom 1rem
    border-bottom 1px solid lighten($accentColor,50%)
    border-radius 50%
    padding-bottom 1rem
  &-content
    position relative
  