// colors
$accentColor = #33c6ba
$textColor = #6f747a
$borderColor = #dcdfe6
$codeBgColor = #333946

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
