@import './utils/variable';
@import './utils/mixins';
.app {
  @include position-absolute;
}
.app-main {
  @include position-absolute($app-header-height,0,$app-footer-height,0);
}
.el-submenu .el-menu-item{
  min-width: auto;
}
.app-aside {
  float: left;
  height: 100%;
  width: auto;
  border-right: solid 1px #e6e6e6;
  .el-menu {
    border-right: none;
  }
  .aside-menu:not(.el-menu--collapse) {
    width: $app-aside-width;
  }
}
.app-content {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:$app-aside-width;
  padding: 15px;
  transition: all .3s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
.app-header,
.app-footer {
  width: 100%;
  background: $primary;
  color: #fff;
}
.app-header {
  height: $app-header-height;
  box-shadow: 0 1px 5px 0 #999;
  @include text-middle(60px);
}
.app-footer {
  box-shadow: 0 -1px 5px 0 #999;
  height: $app-footer-height;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
